.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments li {
  text-align: left;
  padding: 1rem 0;
  border-bottom: 2px solid #ccc;
  display: block;
}

.comments p {
  margin: 0;
}

.comments li p.name {
  display: block;
  font-style: italic;
  font-size: 70%;
  margin-bottom: 0.5rem;
}

.comments address {
  display: inline;
}
